<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pittsburgh Penguins Players</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }

        #player-list {
            list-style-type: none;
            padding: 0;
        }

        #player-list li a {
            text-decoration: none;
            color: #000;
        }

        #player-list li a:hover {
            color: #007BFF;
        }
    </style>
</head>
<body>

    <h1>Pittsburgh Penguins Players</h1>

    <p><a href="/penguins_hits">See Penguins Players' Hits</a></p>

    <a href="/">Index</a>

    <ul id="player-list">
        {{penguins_player_list}}
    </ul>

</body>
</html>