<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NHL Players 2024-25</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }

        #search-bar {
            margin: 20px;
            padding: 10px;
            width: 300px;
            font-size: 16px;
        }

        #player-list {
            list-style-type: none;
            padding: 0;
        }

        #player-list li a {
            text-decoration: none;
            color: #000;
        }

        #player-list li a:hover {
            color: #007BFF;
        }
    </style>
</head>
<body>

  <h1>Players</h1>

  <p><a href="/pittsburgh_penguins">See Pittsburgh Penguins Players</a></p>
  <p><a href="/penguins_hits">See Penguins Players' Hits</a></p>

  <ul>
    {{player_list_items}}
  </ul>

</body>
</html>
